name: CI/CD to Minikube

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend docker image
        run: 
          docker build -t ${{ secrets.DOCKER_USERNAME }}/sunrise-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/sunrise-backend:latest
     
      - name: Build and push frontend docker image
        run:
          docker build -t ${{ secrets.DOCKER_USERNAME }}/sunrise-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/sunrise-frontend:latest
             
     # - name: Save Docker Images as tarballs
      #  run: |
       #   docker save frontend:latest -o frontend.tar
        #  docker save backend:latest -o backend.tar

      #- name: Upload Docker Images as Artifacts
       # uses: actions/upload-artifact@v4
       # with:
        #  name: docker-images
          #path: |
          #  frontend.tar
          #  backend.tar
