name: CI/CD to Minikube

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@3

      - name: Build Frontend Docker Image
        run: docker build -t frontend:latest ./frontend

      - name: Build Backend Docker Image
        run: docker build -t backend:latest ./backend

      - name: Save Docker Images as tarballs
        run: |
          docker save frontend:latest -o frontend.tar
          docker save backend:latest -o backend.tar

      - name: Upload Docker Images as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: |
            frontend.tar
            backend.tar
